In [1]:
# Importing Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [3]:
# Importing the data

In [4]:
df = pd.read_excel("C:\\Users\\Bhuvanesh\\Desktop\\Data Analytics\\Project\\IPL\\ipl_data.xlsx")

In [5]:
# To see the first five rows of the dataset

In [6]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [7]:
# To see the last five rows of the dataset

In [8]:
df.tail()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
76009,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

In [9]:
# Variables explanation

In [ ]:
"""mid: The match id to uniquely identify each match.
date: The date on which the match was held.
venue: The name of the stadium.
bat_team: The batting team name.
bowl_team: The bowling team name.
batsman: The name of the batsman.
bowler: The name of the bowler.
runs: The runs scored till now.
wickets: The wickets taken till now.
overs: The number of overs bowled.
runs_last_5: The number of runs scored in last 5 overs.
wickets_last_5: The number of wickets taken in last 5 overs.
striker: The name of the batsmen on the batting end.
non-striker: The name of the batsmen on the bowling end.
total: The total number of runs scored in the match.
"""

In [10]:
#this is used to return a tuple that contains the number of rows and columns

In [11]:
df.shape

(76014, 15)

In [12]:
#To see the datatype of each of the columns.

In [13]:
df.dtypes

mid                        int64
date              datetime64[ns]
venue                     object
bat_team                  object
bowl_team                 object
batsman                   object
bowler                    object
runs                       int64
wickets                    int64
overs                    float64
runs_last_5                int64
wickets_last_5             int64
striker                    int64
non-striker                int64
total                      int64
dtype: object

In [14]:
# This gives the information about the dataset

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76014 entries, 0 to 76013
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mid             76014 non-null  int64
 1   date            76014 non-null  datetime64[ns]
 2   venue           76014 non-null  object
 3   bat_team        76014 non-null  object
 4   bowl_team       76014 non-null  object
 5   batsman         76014 non-null  object
 6   bowler          76014 non-null  object
 7   runs            76014 non-null  int64
 8   wickets         76014 non-null  int64
 9   overs           76014 non-null  float64
 10  runs_last_5     76014 non-null  int64
 11  wickets_last_5  76014 non-null  int64
 12  striker         76014 non-null  int64
 13  non-striker     76014 non-null  int64
 14  total           76014 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(8), object(5)
memory usage: 8.7+ MB

In [16]:
# This gives the column names along with the sum of missing values in each column.

In [17]:
df.isnull().sum()

mid               0
date              0
venue             0
bat_team          0
bowl_team         0
batsman           0
bowler            0
runs              0
wickets           0
overs             0
runs_last_5       0
wickets_last_5    0
striker           0
non-striker       0
total             0
dtype: int64

In [18]:
# To see the five points summary

In [19]:
df.describe()

,mid,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
count,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000
mean,308.627740,74.889349,2.415844,9.783068,33.216434,1.120307,24.962283,8.869287,160.901452
std,178.156878,48.823327,2.015207,5.772587,14.914174,1.053343,20.079752,10.795742,29.246231
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67.000000
25%,154.000000,34.000000,1.000000,4.600000,24.000000,0.000000,10.000000,1.000000,142.000000
50%,308.000000,70.000000,2.000000,9.600000,34.000000,1.000000,20.000000,5.000000,162.000000
75%,463.000000,111.000000,4.000000,14.600000,43.000000,2.000000,35.000000,13.000000,181.000000
max,617.000000,263.000000,10.000000,19.600000,113.000000,7.000000,175.000000,109.000000,263.000000

# Data Cleaning

In [20]:
# To see the unique batting team

In [21]:
df['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [22]:
# To see the unique bowling team

In [23]:
df['bowl_team'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Mumbai Indians', 'Chennai Super Kings', 'Deccan Chargers',
       'Pune Warriors', 'Kochi Tuskers Kerala', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [24]:
# Current teams in the IPL

In [25]:
current_teams = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Capitals',
       'Sunrisers Hyderabad']

In [26]:
# Replacing misspelled values & Updated team names

In [27]:
df.bat_team.replace({'Rising Pune Supergiants':'Rising Pune Supergiant', 'Delhi Daredevils':'Delhi Capitals ','Deccan Chargers':'Sunrisers Hyderabad'},inplace=True)

In [28]:
df.bat_team.replace({'Pune Warriors':'Rising Pune Supergiant'},inplace=True)

In [29]:
df.bat_team.replace({'Delhi Capitals ':'Delhi Capitals'},inplace=True)

In [30]:
# To see the unique elements present in the column 'bat_team'

In [31]:
df['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Sunrisers Hyderabad', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Capitals',
       'Kochi Tuskers Kerala', 'Rising Pune Supergiant', 'Gujarat Lions'],
      dtype=object)

In [32]:
df.bowl_team.replace({'Rising Pune Supergiants':'Rising Pune Supergiant', 'Delhi Daredevils':'Delhi Capitals ','Deccan Chargers':'Sunrisers Hyderabad'},inplace=True)

In [33]:
df.bowl_team.replace({'Pune Warriors':'Rising Pune Supergiant'},inplace=True)

In [34]:
df.bowl_team.replace({'Delhi Capitals ':'Delhi Capitals'},inplace=True)

In [35]:
# To see the unique elements present in the column 'bowl_team'

In [36]:
df['bowl_team'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Mumbai Indians',
       'Chennai Super Kings', 'Sunrisers Hyderabad',
       'Rising Pune Supergiant', 'Kochi Tuskers Kerala', 'Gujarat Lions'],
      dtype=object)

In [37]:
# This returns a Series containing the counts of unique values.

In [38]:
df['venue'].value_counts()

M Chinnaswamy Stadium                                   7443
Feroz Shah Kotla                                        7068
Eden Gardens                                            7049
Wankhede Stadium                                        7048
MA Chidambaram Stadium, Chepauk                         5972
Rajiv Gandhi International Stadium, Uppal               5827
Punjab Cricket Association Stadium, Mohali              4247
Sawai Mansingh Stadium                                  4110
Dr DY Patil Sports Academy                              2088
Subrata Roy Sahara Stadium                              2086
Maharashtra Cricket Association Stadium                 1843
Kingsmead                                               1731
Sardar Patel Stadium, Motera                            1484
Brabourne Stadium                                       1380
SuperSport Park                                         1377
Punjab Cricket Association IS Bindra Stadium, Mohali    1342
Saurashtra Cricket Association Stadium                  1229
Himachal Pradesh Cricket Association Stadium            1115
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     1113
New Wanderers Stadium                                    995
St George's Park                                         870
Dubai International Cricket Stadium                      868
Barabati Stadium                                         856
JSCA International Stadium Complex                       837
Sheikh Zayed Stadium                                     836
Sharjah Cricket Stadium                                  744
Shaheed Veer Narayan Singh International Stadium         742
Newlands                                                 737
Holkar Cricket Stadium                                   617
Nehru Stadium                                            499
Green Park                                               492
Buffalo Park                                             380
Vidarbha Cricket Association Stadium, Jamtha             370
De Beers Diamond Oval                                    368
OUTsurance Oval                                          251
Name: venue, dtype: int64

In [39]:
# Removing the unnecessary columns

In [40]:
remove_columns = ['date','striker', 'non-striker', 'mid', 'batsman', 'bowler']
df.drop(labels = remove_columns, axis=1, inplace=True)

In [41]:
df.head()

,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222

In [42]:
df.tail()

,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
76009,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,121,7,19.2,40,0,129
76010,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,127,7,19.3,46,0,129
76011,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,128,7,19.4,47,0,129
76012,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,129,7,19.5,48,0,129
76013,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,129,8,19.6,47,1,129

In [43]:
# Current venues used in the IPL

In [44]:
current_venues = ['M Chinnaswamy Stadium','Eden Gardens', 'Feroz Shah Kotla', 'MA Chidambaram Stadium, Chepauk',
       'Punjab Cricket Association Stadium, Mohali', 
       'Wankhede Stadium', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal']

In [45]:
df = df[(df['bat_team'].isin(current_teams)) &(df['bowl_team'].isin(current_teams))]

In [46]:
df = df[(df['venue'].isin(current_venues))]

In [47]:
df = df[df['overs']>=5.0]

In [48]:
# To see the unique elements present in the column 'bat_team'

In [49]:
df['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Sunrisers Hyderabad', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Capitals'], dtype=object)

In [50]:
# To see the unique elements present in the column 'bowl_team'

In [51]:
df['bowl_team'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Mumbai Indians',
       'Chennai Super Kings', 'Sunrisers Hyderabad'], dtype=object)

In [52]:
# To see the unique elements present in the column 'venue'

In [53]:
df['venue'].unique()

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Eden Gardens', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'MA Chidambaram Stadium, Chepauk'], dtype=object)

# Label Encoding

In [54]:
from sklearn.preprocessing import LabelEncoder

In [55]:
le=LabelEncoder()

In [56]:
for i in range(0,df.shape[1]):
    if df.dtypes[i]=='object':
        df[df.columns[i]] = le.fit_transform(df[df.columns[i]])

In [57]:
df.head()

,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
32,2,3,6,61,0,5.1,59,0,222
33,2,3,6,61,1,5.2,59,1,222
34,2,3,6,61,1,5.3,59,1,222
35,2,3,6,61,1,5.4,59,1,222
36,2,3,6,61,1,5.5,58,1,222

# Splitting the dataset into Train & Test

In [58]:
x=df.drop(['total'],axis=1)
y=df['total']

In [59]:
from sklearn.preprocessing import StandardScaler

In [60]:
sc=StandardScaler()

In [61]:
x=sc.fit_transform(x)

In [62]:
from sklearn.model_selection import train_test_split

In [63]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=101)

In [64]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(25620, 8)
(6406, 8)
(25620,)
(6406,)

# Model Selection

In [65]:
from sklearn.ensemble import RandomForestRegressor

In [66]:
rf = RandomForestRegressor(random_state = 42)

In [67]:
final_df=rf.fit(x_train,y_train)

In [68]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [69]:
pred=rf.predict(x_test)

In [70]:
pred[0:5]

array([161.72, 224.02, 111.9 , 189.29, 159.85])

In [71]:
y_test[0:5]

60107    158
55013    226
19836    112
47552    192
64044    164
Name: total, dtype: int64

In [72]:
mean_squared_error(y_test,pred)

47.99733955840445

In [73]:
score = r2_score(y_test,pred)

In [74]:
print("Accuracy of the Model is ",score)

Accuracy of the Model is  0.9460422670608979

In [75]:
rf.predict([[3,4,5,50,1,6,42,1]])

array([232.3])

# Hyperparameter Tuning

In [76]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 800, num = 4)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 60, num = 6)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]

In [77]:
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(random_grid)

{'n_estimators': [200, 400, 600, 800], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4], 'bootstrap': [True, False]}

In [78]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf1 = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation
rf_random = RandomizedSearchCV(estimator = rf1, param_distributions = random_grid, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(x_train, y_train)

print(rf_random.best_params_)
prediction = rf_random.predict(x_test)

Fitting 3 folds for each of 10 candidates, totalling 30 fits
{'n_estimators': 600, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'sqrt', 'max_depth': 20, 'bootstrap': False}

In [79]:
from sklearn import metrics

In [80]:
print('MSE:', metrics.mean_squared_error(y_test, prediction))

MSE: 41.50665260683302

In [81]:
print (f'Train Accuracy : {rf_random.score(x_train,y_train):.3f}')
print (f'Test Accuracy : {rf_random.score(x_test,y_test):.3f}')

Train Accuracy : 0.999
Test Accuracy : 0.953

In [82]:
rf_random.predict([[3,4,5,50,1,6,42,1]])

array([209.23833333])